<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.papi.smarthomesense.mapper.SenseDeviceMapper">
	<!-- 数据表和实体类的对应 -->
	<resultMap id="rs_SenseDeviceBean" type="cn.com.papi.smarthomesense.bean.SenseDeviceBean">
		<result property="id" column="id" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="idGateway" column="id_gateway" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result property="idDevice" column="id_device" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result property="typeDevice" column="type_device" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result property="nameDevice" column="name_device" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result property="isActive" column="is_active" javaType="java.lang.Boolean"
			jdbcType="BOOLEAN" />
		<result property="idGroup" column="id_group" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="cn.com.papi.smarthomesense.bean.SenseDeviceBean">
		insert into sense_device
		(id,id_gateway,id_device,type_device,name_device,is_active,id_group)
		values (#{id},
				#{idGateway},
				#{idDevice},
				#{typeDevice},
				#{nameDevice},
				#{isActive},
				#{idGroup})
			
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 查看 -->
	<select id="listAllSenseDevice" resultMap="rs_SenseDeviceBean">
		SELECT * FROM sense_device
	</select>
	<select id="listSenseDeviceByParams" resultMap="rs_SenseDeviceBean" parameterType="java.util.Map">
		SELECT * FROM sense_device
		<trim prefix="where" prefixOverrides="and | or">
			<if test="null != idGateway">
				AND id_gateway=#{idGateway}
			</if>
			<if test="null != idDevice">
				AND id_device=#{idDevice}
			</if>
			<if test="null != id and 0 != id">
				AND id=#{id}
			</if>
			<if test="null != idGroup">
				AND id_group=#{idGroup}
			</if>
		</trim>
	</select>
	
	<select id="getSenseDeviceByIdDevice" parameterType="java.util.Map" resultMap = "rs_SenseDeviceBean">
	    SELECT * FROM sense_device 
	    <where>
	         <if test="idDevice != null ">
	        id_device=#{idDevice}
	        </if>
	        <if test="idGateway != null ">
	        AND id_gateway = #{idGateway}
	        </if>
	    </where>
	</select>
	
	<!--删除  -->
	<select id="delete" parameterType="java.util.Map">
	    DELETE FROM sense_device
	    <where>
	        <if test="idDevice != null ">
	        id_device=#{idDevice}
	        </if>
	        <if test="idGateway != null ">
	        AND id_gateway = #{idGateway}
	        </if>
	    </where>
	</select>		
		
	<update id="update" parameterType="cn.com.papi.smarthomesense.bean.SenseDeviceBean">
	    UPDATE sense_device
	    <set>
	        <if test="nameDevice != null">
	        name_device = #{nameDevice},
	        </if>
	        <if test="typeDevice != null">
	        type_device = #{typeDevice}
	        </if>
	    </set>	   
	    WHERE
		<trim prefixOverrides="and | or">
			<if test="id != 0">
				AND id = #{id}
			</if>
			<if test="idDevice != null">
			    AND id_Device = #{idDevice}
			</if>
		</trim>
	</update>	
</mapper>