<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.papi.smarthomesense.mapper.SenseGatewayMapper">
	<!-- 数据表和实体类的对应 -->
	<resultMap id="rs_SenseGatewayBean" type="cn.com.papi.smarthomesense.bean.SenseGatewayBean">
		<result property="uuid" column="id" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="idGateway" column="id_gateway" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result property="nameGateway" column="name_gateway" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result property="type" column="type" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="fid" column="fid" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="creator" column="creator" javaType="java.lang.Integer"
			jdbcType="INTEGER" />	
	    <result property="createTime" column="createTime" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result property="creater" column="creater" javaType="java.lang.String"
			jdbcType="VARCHAR" />	
	</resultMap>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="cn.com.papi.smarthomesense.bean.SenseGatewayBean">
		insert into gateway
		(id,id_gateway,type,fid,name_gateway,creator,createTime,creater)
		values (#{uuid},
				#{idGateway},
				#{type},
				#{fid},
				#{nameGateway},
				#{creator},
				#{createTime},
				#{creater})
	</insert>
	
	<!-- 查看 -->
	<select id="listAllSenseGateway" resultMap="rs_SenseGatewayBean">
		SELECT * FROM gateway
	</select>
	
	<select id="listSenseGatewayByParams" resultMap="rs_SenseGatewayBean"
		parameterType="java.util.Map">
		SELECT * FROM gateway
		<trim prefix="where" prefixOverrides="and | or">
			<if test="null != idGateway">
				AND id_gateway=#{idGateway}
			</if>
			<if test="null != uuid and uuid != 0">
				AND id=#{uuid}
			</if>
			<if test="null != type">
				AND type=#{type}
			</if>
			<if test="null != fid">
				AND fid=#{fid}
			</if>
		</trim>
	</select>
	
	<select id="getSenseGatewayByID" resultMap="rs_SenseGatewayBean"
		parameterType="java.util.Map">
		SELECT * FROM gateway
		<trim prefix="where" prefixOverrides="and | or">
			<if test="null != uuid">
				AND id=#{uuid}
			</if>
		</trim>
	</select>
	
	

	<!-- 修改 -->
	<update id="update" parameterType="cn.com.papi.smarthomesense.bean.SenseGatewayBean">
		update gateway
		<set>
			<if test="nameGateway != null">
				name_gateway = #{nameGateway},
			</if>
			<if test="idGateway != null">
				id_gateway = #{idGateway},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="fid != null">
				fid = #{fid},
			</if>
		</set>
		WHERE
		<trim prefixOverrides="and | or">
			<if test="uuid != null">
				AND id = #{uuid}
			</if>
		</trim>
	</update>
	
</mapper>